<template>
    <require from="./news/news"></require>
    <require from="./coinoverview/coinoverview"></require>
    <nav class="navbar navbar-inverse" style="border-radius: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#" click.delegate="resetActiveCoin()" >Kripto</a>
            </div>
            <ul class="nav navbar-nav">
            <li repeat.for="identifier of coinIdentifiers" 
                class="${identifier.active ? 'active' : ''}" 
                click.delegate="changeActiveCoin(identifier)">
                    <a>${identifier.name}</a>
                </li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span style="margin-right:10px;" class="glyphicon glyphicon-earphone"></span> Contact</a></li>
                </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <news active-coin-identifier.two-way="activeCoinIdentifier" coin-identifiers.bind="coinIdentifiers" article-id.bind="articleId"> </news>
            </div>       
            <div class="col-md-6 list-group">
                <coin-overview active-coin-identifier.two-way="activeCoinIdentifier" coin-identifiers.bind="coinIdentifiers"></coin-overview>
            </div>
        </div>
    </div>
</template>