.nav li:hover{
    cursor: pointer;
}

.navbar-brand.kriptologo {
    color: #a0d7fd;
}

.clickable:hover
{
    background: #efefef;
    cursor: pointer;
}

.selected {
    background: #eee;
}

.red {
    color: red;
}

.green {
    color: green;
}

.close-button {
    color: #333;
}

.close-button:hover {
    color: #666;
    cursor: pointer;
}
