<template>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Verschil 24H</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="coinTableRow of coinTableRows"
                click.delegate="changeActiveCoinCategory(coinTableRow.identifier)"
                class="clickable ${coinTableRow.active ? 'selected' : ''}">
                <td>
                    <img src="${coinTableRow.imageUrl}?width=32&height=32">
                    ${coinTableRow.identifier.name}
                </td>
                <td>${coinTableRow.price}</td>
                <td class="${coinTableRow.percentChange > 0 ? 'green' : 'red'}">${coinTableRow.percentChange}%</td>
            </tr>
        </tbody>
    </table>
</template>